<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>View/Edit Student</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.11.5/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/datatables.min.css"/>        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.5/datatables.min.js" defer></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous" defer></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js" defer></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js" defer></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.11.5/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/datatables.min.js" defer></script>
    </head>
<body class="">

<!-- navbar -->
<nav class="d-flex justify-content-between align-items-center navbar navbar-expand navbar-dark bg-dark p-3">
    <a class="navbar-brand ps-3" href="/students/view/all"><img src="{{ url_for('static', filename='img/music_program_logo.png') }}"></a>
    <div class="d-flex navbar-nav">
        <a href="/students/view/all" class="nav-link  me-3 me-lg-4">Student Information</a>
        <a href="/accounts/view/all" class="nav-link  me-3 me-lg-4">Student Accounts</a>
        <a href="/library/view/all" class="nav-link  me-3 me-lg-4">Music Library</a>

<!-- view menu -->
        <!-- <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">Student Information</a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item text-center" href="/students/view/all">All Students</a></li>
                    <li><a class="dropdown-item text-center" href="/accounts/view/all">Accounts</a></li>
                </ul>
            </li>
        </ul> -->

<!-- database menu -->
        <!-- <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Databases</a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item text-center" href="/library/view/all">Music Library</a></li>
                    <li><a class="dropdown-item text-center" href="/locker/view/all">Lockers</a></li>
                    <li><a class="dropdown-item text-center" href="/instruments/view/all">School Instruments</a></li>
                </ul>
            </li>
        </ul> -->

<!-- add new student -->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-plus fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <p class="dropdown-header text-center text-decoration-underline">Add New:</p>
                    <li><a class="dropdown-item text-center" href="/student/new">Student</a></li>
                    <li><a class="dropdown-item text-center" href="/library/new">Music to Library</a></li>
                    <select class="dropdown-item text-center" name="" id="" onchange="location = this.value;">
                        <option value="">Charge Account</option>
                        {% for student in all_students | sort(attribute="student_first_name") %}
                            <option value="/student/charge/{{student.id}}">{{student.student_full_name()}}</option>
                        {% endfor %}
                    </select>
                </ul>
            </li>
        </ul>

<!-- logout and add new director -->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <p class="dropdown-header text-center text-decoration-underline">Logged in as: {{session.director_first_name}} {{session.director_last_name}}</p>
                    {% if session.director_id == 1 %}
                        <li><a class="dropdown-item text-center" href="/registration">Register New Director</a></li>
                    {% endif %}
                    <li><a class="dropdown-item text-center" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- main container -->

<!-- navigation buttons -->
    <main>

<!-- page title -->
        <h1 class="text-center mb-3 mt-3">{{edit.student_full_name()}}</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="mt-4 mb-4 col-6 mx-auto alert-danger border rounded border-danger p-2">
                    {% for message in messages %}
                        <p class='pt-2 text-center text-danger'><em>{{ message }}</em></p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

<!-- edit student FORM with validation -->
        <form class="mb-5" action="/student/update" method="post">
            <div class="row d-flex justify-content-around me-4 ms-4">

<!-- Edit Student Name -->
                <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 mb-3 p-3 card">
                    <h3 class="text-center text-decoration-underline mb-3">Name</h3>
                    <input type="hidden" name="student_id" value={{edit.id}}>
                    <input type="hidden" name="id" value={{edit.id}}>
                    <label for="student_first_name" class="form-label">Student First Name:</label>
                    <input type="text" class="form-control-sm mb-3" name="student_first_name" value="{{ edit.student_first_name }}">

                    <label for="student_last_name" class="form-label">Student Last Name:</label>
                    <input type="text" class="form-control-sm mb-3" name="student_last_name" value="{{ edit.student_last_name }}">
                </div>

<!-- Edit instrument info -->
                <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 mb-3 p-3 card">
                    <h3 class="text-center text-decoration-underline mb-3">Instruments</h3>
                    <label for="concert_instrument" class="form-label">Concert Instrument:</label>
                    <select class="form-control-sm mb-3" name="concert_instrument" id="">
                        <option selected value="{{edit.concert_instrument}}">{{edit.concert_instrument}}</option>
                        <option value="Piccolo">Piccolo</option>
                        <option value="Flute">Flute</option>
                        <option value="Oboe">Oboe</option>
                        <option value="Bassoon">Bassoon</option>
                        <option value="Clarinet">Clarinet</option>
                        <option value="Bass Clarinet">Bass Clarinet</option>
                        <option value="Alto Sax">Alto Sax</option>
                        <option value="Tenor Sax">Tenor Sax</option>
                        <option value="Bari Sax">Bari Sax</option>
                        <option value="French Horn">French Horn</option>
                        <option value="Trumpet">Trumpet</option>
                        <option value="Trombone">Trombone</option>
                        <option value="Baritone">Baritone</option>
                        <option value="Tuba">Tuba</option>
                        <option value="Tuba">Percussion</option>
                    </select>

                    <label for="marching_instrument" class="form-label">Marching Instrument:</label>
                    <select class="form-control-sm mb-3" name="marching_instrument" id="">
                        <option selected value="{{edit.marching_instrument}}">{{edit.marching_instrument}}</option>
                        <option value="Piccolo">Piccolo</option>
                        <option value="Flute">Flute</option>
                        <option value="Clarinet">Clarinet</option>
                        <option value="Bass Clarinet">Bass Clarinet</option>
                        <option value="Alto Sax">Alto Sax</option>
                        <option value="Tenor Sax">Tenor Sax</option>
                        <option value="Bari Sax">Bari Sax</option>
                        <option value="French Horn">Mellophone</option>
                        <option value="Trumpet">Trumpet</option>
                        <option value="Trombone">Trombone</option>
                        <option value="Baritone">Baritone</option>
                        <option value="Tuba">Sousaphone</option>
                        <option value="Tuba">Snare</option>
                        <option value="Tuba">Quints</option>
                        <option value="Tuba">Bass Drum</option>
                        <option value="Tuba">Cymbals/Front Ensemble</option>
                    </select>

                    <label for="jazz_instrument" class="form-label">Jazz Instrument:</label>
                    <select class="form-control-sm mb-3" name="jazz_instrument" id="">
                        <option selected value="{{edit.jazz_instrument}}">{{edit.jazz_instrument}}</option>
                        <option value="Alto Sax">Alto Sax</option>
                        <option value="Tenor Sax">Tenor Sax</option>
                        <option value="Bari Sax">Bari Sax</option>
                        <option value="Trumpet">Trumpet</option>
                        <option value="Trombone">Trombone</option>
                        <option value="Tuba">Piano</option>
                        <option value="Tuba">Guitar</option>
                        <option value="Tuba">Bass Guitar</option>
                        <option value="Tuba">Percussion</option>
                    </select>

                    <label for="instrument_type" class="form-label">School Instrument:</label>
                    <select class="form-control-sm mb-3" name="instrument_type" id="">
                        <option selected value="{{edit.school_instruments.instrument_type}}">{{edit.school_instruments.instrument_type}}</option>
                        <option value="Piccolo">Piccolo</option>
                        <option value="Flute">Flute</option>
                        <option value="Oboe">Oboe</option>
                        <option value="Bassoon">Bassoon</option>
                        <option value="Clarinet">Clarinet</option>
                        <option value="Bass Clarinet">Bass Clarinet</option>
                        <option value="Alto Sax">Alto Sax</option>
                        <option value="Tenor Sax">Tenor Sax</option>
                        <option value="Bari Sax">Bari Sax</option>
                        <option value="French Horn">French Horn</option>
                        <option value="Trumpet">Trumpet</option>
                        <option value="Trombone">Trombone</option>
                        <option value="Baritone">Baritone</option>
                        <option value="Tuba">Tuba</option>
                    </select>

                    <label for="instrument_serial_number" class="form-label">School Instrument Serial Number:</label>
                    <input type="text" class="form-control-sm mb-3" name="instrument_serial_number" placeholder="School Instrument Serial Number" value="{{edit.school_instruments.instrument_serial_number}}">
                </div>

<!-- Edit Concert Uniform info -->
                <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 mb-3 p-3 card">
                    <h3 class="text-center text-decoration-underline mb-3">Concert Uniform</h3>
                    <label for="tux_coat" class="form-label">Tuxedo Jacket:</label>
                    <input type="number" class="form-control-sm mb-3" name="tux_coat" value="{{ edit.concert_uniforms.tux_coat }}">

                    <label for="tux_pants" class="form-label">Tuxedo Pants:</label>
                    <input type="number" class="form-control-sm mb-3" name="tux_pants" value="{{ edit.concert_uniforms.tux_coat }}">

                    <label for="dress" class="form-label">Concert Dress:</label>
                    <input type="number" class="form-control-sm mb-3" name="dress" value="{{ edit.concert_uniforms.dress }}">
                </div>

<!-- Edit Marching Uniform info -->
                <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 mb-3 p-3 card">
                    <h3 class="text-center text-decoration-underline mb-3">Marching Uniform</h3>
                    <label for="marching_jacket" class="form-label">Marching Jacket:</label>
                    <input type="number" class="form-control-sm mb-3" name="marching_jacket" value="{{ edit.marching_uniforms.marching_jacket }}">

                    <label for="marching_pants" class="form-label">Marching Pants:</label>
                    <input type="number" class="form-control-sm mb-3" name="marching_pants" value="{{ edit.marching_uniforms.marching_pants }}">

                    <label for="hat" class="form-label">Marching Hat:</label>
                    <input type="number" class="form-control-sm mb-3" name="hat" value="{{ edit.marching_uniforms.hat }}">

                    <label for="gauntlets" class="form-label">Gauntlets:</label>
                    <input type="number" class="form-control-sm mb-3" name="gauntlets" value="{{ edit.marching_uniforms.gauntlets }}">

                    <label for="colorguard_uniform" class="form-label">Colorguard Uniform:</label>
                    <input type="number" class="form-control-sm mb-3" name="colorguard_uniform" value="{{ edit.marching_uniforms.colorguard_uniform }}">
                    <div class="d-flex justify-content-end ">
                        <input type='submit' value='Update' class="btn btn-primary"><br>
                    </div>
                </div>
            </div>

<!-- Submit button -->
        </form>
    </main>
</body>
</html>