.card{
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45) !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.589) !important;
}

body {
  background: #343a40 !important;
  /* background:#1F2739 !important; */
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  background-color: #007bff !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  right: 0;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover #navbarDropdown {
  background-color: #007bff;
}

/* logo in top left */
img {
  max-width: 150px;
  max-height: 50px;
  height: 100%;
  width: 100%;
}

/* user logo on login/registration page */
#login {
  max-width: 50px;
  max-height: 50px;
  height: 100%;
  width: 100%;
}

/* card on login/registration page */
#login_reg_form {
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45) !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.589) !important;
}

/* This allow the tables to scroll horizontally on smaller screens. */
.hscroll {
  overflow-x: auto;
}

/* change font size for screen size */
@media screen and (min-width: 951px) {
  .nav-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 950px) {
  .nav-link {
    font-size: 10px;
  }
}

@media screen and (min-width: 951px) {
  #datatable_accounts, #datatable_library, #datatable_students, th{
    font-size: 16px;
  }
}

@media screen and (max-width: 950px) {
  #datatable_accounts, #datatable_library, #datatable_students, th {
    font-size: 10px;
  }
}

@media screen and (max-width: 950px) {
  h3{
    font-size: 13px !important;
  }
}

@media screen and (max-width: 950px) {
  .btn {
    font-size: 8px !important;
  }
}

@media screen and (max-width: 950px) {
  img {
    width: 100px !important;
  }
}

/* search bar customization */
.dataTables_filter {
  position: relative;
}

.dataTables_filter input {
  max-width: 275px;
  width: 100%;
  height: 32px;
  background: transparent !important;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 0 2px white;
  text-indent: 10px;
  margin-bottom: 20px;
}

/* datatable buttons */
.dt-button.custom-html-collection {
  background: transparent;
  /* border-radius: 5px; */
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

.dt-button.custom-html-collection:hover {
  border-radius: 5px;
  color: black;
  background: white !important;
  border: 1px solid white !important;
}

/* datatable paging info */
.dataTables_info {
  color: white !important;
}