.card{
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45) !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.589) !important;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

body {
  background: #c7c7c1 !important;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  background-color: #007bff !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  right: 0;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover #navbarDropdown {
  background-color: #007bff;
}

img {
  max-width: 175px;
  width: 100%;
}

#login {
  max-width: 50px;
  max-height: 50px;
  height: 100%;
  width: 100%;
}

#login_reg_form {
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45) !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.589) !important;
}

/* This container class will allow a table to scroll horizontally on smaller screens. */
.hscroll {
  overflow-x: auto; /* Horizontal */
}

.nav-link {
  font-size: 10px;
}

/* If the screen size is 601px wide or more, set the font-size of .nav-link to 18px */
@media screen and (min-width: 701px) {
  .nav-link {
    font-size: 18px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of .nav-link to 10px */
@media screen and (max-width: 700px) {
  .nav-link {
    font-size: 10px;
  }
}

/* Text size for datatables */

@media screen and (min-width: 951px) {
  #datatable_accounts, #datatable_library, #datatable_students{
    font-size: 16px;
  }
}

@media screen and (max-width: 950px) {
  #datatable_accounts, #datatable_library, #datatable_students {
    font-size: 10px;
  }
}

@media screen and (max-width: 950px) {
  h3{
    font-size: 13px !important;
  }
}

@media screen and (max-width: 950px) {
  .btn {
    font-size: 8px !important;
  }
}

.dataTables_filter {
  position: relative;
}

.dataTables_filter input {
  max-width: 275px;
  width: 100%;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  text-indent: 10px;
  margin-bottom: 20px;
}

/* .dataTables_filter .fa-search {
  position: absolute;
  top: 8px;
  left: auto;
  right: 10px;
} */
