.card{
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45) !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.589) !important;
}

body {
  background: #c7c7c1 !important;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  background-color: #007bff !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  right: 0;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover #navbarDropdown {
  background-color: #007bff;
}

img {
  max-width: 175px;
  width: 100%;
}

#login {
  max-width: 50px;
  max-height: 50px;
  height: 100%;
  width: 100%;
}

#login_reg_form {
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45) !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.589) !important;
}
